<h1><%= @notifications.inspect %></h1>
<div>
			<div id="chat-window">
						<header><%= current_room ? current_room.name : Room.find(params[:id]).name %></header>

						<div id="messages-box">
									<div id="chat-box" data-channel="rooms" data-room-id=<%= params[:id] %> >
												<% if @messages %>
															<% @messages.each do |message| %>
																		<%= render partial: "shared/message", locals: { message: message } %>
															<% end %>
												<% end %>
									</div>

									<div class="row">
												<%= form_for @message, remote: true, class: "col s12" do |f| %>
															<div class="row">
																		<div class="input-field col s6">
																					<%= f.text_field :body, id: "message-field", class: "validate" %>
																					<%= f.submit "Send", class: "btn", id: "message-btn" %>
																		</div>
															</div>
												<% end %>
									</div>
						</div>
			</div>
</div>
