<h2>Bekræft oplysninger</h2>

<%= form_for @order, url: confirm_order_path do |f| %>
  <% if @order.errors.any? %>
    <% @order.errors.full_messages.each do |msg| %>
      <li class="error" li><%= msg %></li>
    <% end %>
  <% end %>

  <%= f.hidden_field :status, value: "open" %>
  <%# <%= f.hidden_field :order_id, value: @order.id %1> %>
  <div class="row">
    <div class="input-field col s5">
      <%= f.text_field :delivery_address, class: "validate", value: @address %>
      <%= f.label :delivery_address, "Leverings addresse", class: "active"%>
    </div>
  </div>

  <!--  Field Post Nr. -->
  <div class="row">
    <div class="input-field col s5">
      <%= f.text_field :zip, class: "validate", value: @zip %>
      <%= f.label :zip, "Post nr.", class: "active"%>
    </div>
  </div>

  <!-- Vælg Betaling -->
  <div class="row">
    <div class="input-field col s5">
      <select name="order[payment_type]" id="order_payment_type">
        <option disabled selected value class="dropdown-content">Vælg betaling</option> 
        <% Order::PAYMENT_TYPES.each do |key, payment| %>
          <option class="dropdown-content" value="<%= key %>">
          <%= payment %>
          </option>
        <% end %>
      </select>
      <%= f.label :payment_type, "Betalings metode", class: "active" %>
    </div>
  </div>


  <!-- Brugerens email til kvittering -->
  <div class="row">
    <div class="input-field col s6">
      <%= fields_for :users do |user_f| %>
        <%= user_f.text_field :email,  placeholder: "Email", class: "validate", name: "email" %>
        <%= user_f.label "Send kvittering til email", class: "active" %>
      <% end %>
    </div>

    <!-- Total pris -->
    <div class="row">
      <div class="input-field col s5">
        I alt - <%= number_to_kr @order.total %>
      </div>
    </div>

    <%= f.submit "Bestil nu", class: "btn" %>
  <% end %>
