<h2>Faktura</h2>
<h3><%= user_signed_in? && !current_user.name.nil? ? "Navn: #{current_user.name}" : "" %></h3>
<ul>
  <li>
    <%= user_signed_in? && !current_user.email.nil? ? "Email: #{current_user.email}" : ""  %>
  </li>
  <li>
    <%= user_signed_in? && !current_user.phone.nil? ? "Telefon: #{current_user.phone}" : ""  %>
  </li>
  <li>
    <%= @order.delivery_address %>, <%= @order.zip %>
  </li>
  <% @order.items.each do |item| %>
    <li><%= "#{item.qty} stk. #{Product.find(item.product_id).name} til #{number_to_kr item.price}" %></li>
  <% end %>

  <hr />
  <li>I alt <%= number_to_kr(@order.total) %></li>
  <li><%= @order.status === "open" ? "Ordren er under behandling" : "Ordren er afsluttet" %></li>
  <% if isAdmin? %>
    <%= form_tag complete_order_path, method: :patch do  %>
      <%= hidden_field_tag :status, value: "complete" %>
      <%= submit_tag "Afslut ordren", class: "btn" %>
    <% end %>
  <% end %>
</ul>

<br />

