<h2>Faktura</h2>

<h3><%= @user.name %></h3>
<ul>
  <li>
    <%= !@user.email.nil? ? "Email: #{@user.email}" : ""  %>
  </li>
  <li>
    <%= @user.phone ? "Telefon: #{@user.phone}" : "Ingen telefonnummer???"  %>
  </li>
  <li>
    <%= @order.delivery_address %>, <%= @order.zip %>
  </li>
  <% @order.items.each do |item| %>
    <li><%= "#{item.qty} stk. #{Product.find(item.product_id).name} til #{number_to_kr item.price}" %></li>
  <% end %>
  <li><%= number_to_kr @delivery_fee %></li>

  <hr />
  <li>I alt <%= number_to_kr(@order.total) %></li>
  <li><%= @order.status === "open" ? "Ordren er under behandling" : "Ordren er afsluttet" %></li>
  <% if isAdmin? && @order.status != "complete" %>
    <br /><br />
    <br /><br />
    <li>
      <%= form_tag complete_order_path, method: :patch do  %>
        <%= hidden_field_tag :status, value: "complete" %>
        <%= submit_tag "Afslut ordren", class: "btn" %>
      <% end %>
    </li>
  <% end %>
</ul>

<br />

