<h2>Din Kurv</h2>

<table>
  <thead>
    <tr>
      <td>Produkt</td>
      <td>Pris</td>
      <td>Antal</td>
      <td></td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.product.name %></td>
        <td><%= number_to_kr item.price %></td>
        <%= form_tag order_items_path do %>
          <%# <td><%= item.qty %1></td> %>
          <td>
            <%= number_field_tag :qty, item.qty %>
          </td>
          <%= hidden_field_tag :update_qty, true %>
          <%= hidden_field_tag :price, 1 %>
          <%= hidden_field_tag :product_id, item.id %>
          <td>
            <%= submit_tag "Opdater antal", class: "btn" %>
          </td>
          <% end %>
        <td>
          <%= form_for item, method: :delete do |f| %>
            <%= f.submit "Slet", class: "btn" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>

  <tfoot>
    <tr>
      <td>
        <hr />
        Total: 
      </td>
    </tr>
    <tr>
      <td><%= number_to_kr current_cart.total %></td>
    </tr>
  </tfoot>
</table>

<br />

<% if isAdmin? %>
  <%= form_for @product, :html => {class: "col s12", role: "form"} do |f| %>
    <% if @product.errors.any? %>
      <% @product.errors.full_messages.each do |msg| %>
        <li class="error" li><%= msg %></li>
      <% end %>
    <% end %>

    <div class="row">
      <div class="input-field col s6">
        <%= f.text_field :name, class: "validate" %>
        <%= f.label :name, "Produkt", class: "active" %>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s3">
        <%= f.text_field :qty, class: "validate", value: 1 %>
        <%= f.label :qty, "Antal", class: "active" %>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s3">
        <%= f.text_field :price, class: "validate" %>
        <%= f.label :price, "Pris", class: "active" %>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s3">
        <%= f.submit "Tilføj", class: "btn btn-large" %>
      </div>
    </div>
  <% end %>
<% end %>

<%= link_to isAdmin? ? "Gem ordre" : "Bestil", checkout_path, class: "btn" %>
