<%= form_with(model: brand, local: true) do |f| %>
  <% if brand.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(brand.errors.count, "error") %> prohibited this brand from being saved:</h2>

      <ul>
      <% brand.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="row">
    <div class="input-field col s5">
      <%= f.text_field :name, class: "validate" %>
      <%= f.label :name, "Brand", class: "active"%>
    </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
