<div class="row" style="padding: 4em 0 0 30%">
  <%= form_for @product, :html => {class: "col s12", role: "form"} do |form| %>
    <% if @product.errors.any? %>
      <% @product.errors.full_messages.each do |msg| %>
        <li class="error" li><%= msg %></li>
      <% end %>
    <% end %>
    <div class="row">
      <div class="input-field col s6">
        <%= form.text_field :name, class: "validate" %>
        <%= form.label :name, "Produktnavn", class: "active" %>
      </div>
      <div class="input-field col s6"></div>
    </div>

    <div class="row">
      <div class="input-field col s4">
        <%# select_tag :brand_id, @brands, class: "dropdown-content"  %>
        <%# options_from_collection_for_select(@brands, :id, :name) %>
        <%= form.label :brand, "Producent", class: "active" %>

        <select name="product[brand_id]" id="product_brand_id">
          <option  class="dropdown-content" value="Vælg Kategori">
          <% Brand.all.each do |brand| %>
            <option class="dropdown-content" value="<%= brand.id %>">
              <%= brand.name %>
            </option>
          <% end %>
        </select>
      </div>
      <div class="input-field col s2">
        <%= form.text_field :price, class: "validate" %>
        <%= form.label :price, "Pris", class: "active" %>
      </div>
      <div class="input-field col s6"></div>
    </div>

    <div class="row">
      <div class="input-field col s4">
        <%= form.label :category, "Kategori", class: "active" %>
        <select name="category_ids[]" id="category_id" multiple>
            <option disabled selected value class="dropdown-content">Vælg Kategori</option> 
            <% Category.all.each do |cat| %>
              <option class="dropdown-content" value="<%= cat.id %>">
                <%= cat.name %>
              </option>
            <% end %>
        </select>
      </div>
      <div class="input-field col s6"></div>
    </div>

    <div class="row">
      <div class="input-field col s4">
      </div>
      <div class="input-field col s2">
        <%= form.text_field :qty, class: "validate" %>
        <%= form.label :qty, "Antal", class: "active" %>
      </div>
      <div class="input-field col s6"></div>
    </div>

    <div class="row">
      <div class="col s6">
        <div class="input-field">
          <%= form.text_area :description, class: "materialize-textarea" %>
          <%= form.label :description, "Beskrivelse", class: "active" %>
        </div>
      </div>
      <div class="col s6"></div>
    </div>

    <div class="row">
      <div class="col s1">
        <i class="material-icons">
          <%= form.submit "Gem", class: "btn btn-large" %>
        </i>
      </div>
      <div class="col s11"></div>
    </div>
  <% end %>
</div>
<script>
$(document).ready(function() {
    $('select').material_select();
});
</script>
