<%= p Rails.configuration.twilio.inspect %>
<h1>Produkter</h1>
<% if user_signed_in? && current_user.admin %>
  <%= link_to "Nyt Produkt", new_product_path, class: "btn" %>
<% end %>

<table class="responsive-table">
  <thead>
    <tr>
      <th>Produkt</th>
      <th>Producent</th>
      <th>Pris</th>
      <th>Beskrivelse</th>
      <th>Kategori</th>
      <th>Antal</th>
      <th><span style="font-size: 2em">+</span></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= link_to product.name, product_path(product) %></td>
        <td><%= product.brand.name %></td>

        <td><%= product.price %></td>

        <td><%= truncate product.description, length: 300 %></td>
        <td>
          <% product.categories.each do |c| %>
            <%= c.name %>
          <% end %>
        </td>
        <td><%= product.qty %></td>
        <td>
          <%= form_tag order_items_path do %>
            <%= hidden_field_tag :product_id, product.id %>
            <%= hidden_field_tag :price, 1 %>
            <%= number_field_tag :qty, 1 %>
            <%= submit_tag "Tilføj", id: "add-#{product.name.downcase}" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
