<h1>Produkter</h1>
<% if user_signed_in? && current_user.admin %>
  <%= link_to "Nyt Produkt", new_product_path, class: "btn" %>
<% end %>

<%# <table class="responsive-table"> %>
<%#   <thead> %>
<%#     <tr> %>
<%#       <td>Produkt</td> %>
<%#       <td>Producent</td> %>
<%#       <td>Pris</td> %>
<%#       <td>Beskrivelse</td> %>
<%#       <td>Kategori</td> %>
<%#       <td>Antal</td> %>
<%#       <td><span style="font-size: 2em">+</span></td> %>
<%#     </tr> %>
<%#   </thead> %>
<%#   <tbody> %>

    <% if @products.empty? %>
      <div class="card blue-grey red darken-1">
        <div class="card-content white-text">
          <span class="card-title error">Ingen produkter</span>
        </div>
      </div>
    <% else %>
<<<<<<< HEAD
      <% @products.each do |product| %>
        <%= link_to product.name, product_path(product) %>
        <%= product.brand.name %></td>
      Pris: <%= product.price %>
    <%= truncate product.description, length: 300 %>
    <% product.categories.each do |c| %>
      <%= c.name %>
    <% end %>
    Antal: <%= product.qty %>
  <%= form_tag order_items_path do |f| %>
    <%= hidden_field_tag :product_id, product.id %>
    <%= hidden_field_tag :price, 1 %>
    <%= number_field_tag :qty, 1 %>
    <%# <%= submit_tag, class: "btn waves-effect" %1> %>
    <input class="btn waves-effect" name="commit" type="submit" value="Save changes" >
          <i class="material-icons">add</i>
    </input>
    <%# <button class="btn waves-effect" type="submit" name="action" > %>
      <%#   </button> %>
    <%# <button class="btn waves-effect waves-light" type="submit" name="action">Submit %>
      <%#   <i class="material-icons right">cloud</i> %>
      <%# </button> %>
  <% end %>
<% end %>
      <% end %>

=======
      <tbody>
        <tr>
          <% @products.each do |product| %>
            <td>
              <%= link_to "#{product.name}", product_path(product) %>
            </td>
            <td>
              <%= product.brand.name %>
            </td>
            <td>
              <%= product.price %>
            </td>
            <td>
            <%= truncate product.description, length: 300 %>
            </td>
            <td>
              <% product.categories.each do |c| %>
                <%= c.name %>
              <% end %>
            <td>
              <%= product.qty %>
            </td>
            <td>
              <%= form_tag order_items_path do %>
                  <%= hidden_field_tag :product_id, product.id %>
                  <%= hidden_field_tag :price, 1 %>
                  <%= number_field_tag :qty, 1 %>
                  <%= submit_tag "Tilføj", class: "btn", id: "add-#{product.name.downcase}" %>
              <% end %>
            </td>
        </tr>
      <% end %>
    <% end %>
>>>>>>> dfd8f3ab2abb143f53335f41905434aec60b6908
