<h1>Produkter</h1>
<% if user_signed_in? && current_user.admin %>
  <%= link_to "Nyt Produkt", new_product_path, class: "btn" %>
<% end %>

<table class="responsive-table">
  <thead>
    <tr>
      <td>Produkt</td>
      <td>Producent</td>
      <td>Pris</td>
      <td>Beskrivelse</td>
      <td>Kategori</td>
      <td>Antal</td>
   </tr>
  </thead>
  <tbody>

  <% if @products.empty? %>
    <div class="card blue-grey red darken-1">
      <div class="card-content white-text">
        <span class="card-title error">Ingen produkter</span>
      </div>
    </div>
  <% else %>
    <% @products.each do |product| %>
      <tr>
        <td><%= link_to product.name, product_path(product) %></td>
        <td><%= product.brand.name %></td>
        <td><%= product.price %></td>
        <td><%= truncate product.description, length: 300 %></td>
        <td><% product.categories.each do |c| %>
          <%= c.name %>
        <% end %></td>
        <td><%= product.qty %></td>
       </tr>
     <% end %>
   <% end %>
  <tbody>
</table>

