<div class="row" style="padding: 4em 0 0 30%">
        <%= form_with scope: :products, url: products_path, local: true, :html => {class: "col s12", role: "form"} do |form| %>
                <% if @product.errors.any? %>
                        <% @product.errors.full_messages.each do |msg| %>
                                <li class="error" li><%= msg %></li>
                        <% end %>
                <% end %>
                <div class="row">
                        <div class="input-field col s6">
                                <%= form.text_field :name, class: "validate" %>
                                <%= form.label :name, "Produktnavn" %>
                        </div>
                        <div class="input-field col s6"></div>
                </div>

                <div class="row">
                        <div class="input-field col s1">
                                <%= form.text_field :price, class: "validate" %>
                                <%= form.label :price, "Pris" %>
                        </div>
                        <div class="input-field col s1"></div>
                        <div class="input-field col s4">
                                <%= form.text_field :brand, class: "validate" %>
                                <%= form.label :brand, "Producent" %>
                        </div>
                        <div class="input-field col s6"></div>
                </div>

                <div class="row">
                        <div class="input-field col s6">
                                <%= form.text_field :category, class: "validate" %>
                                <%= form.label :category, "Kategori" %>
                        </div>
                        <div class="input-field col s6"></div>
                </div>

                <div class="row">
                        <div class="col s6">
                                <div class="input-field">
                                        <%= form.text_area :description, class: "materialize-textarea" %>
                                        <%= form.label :description, "Beskrivelse" %>
                                </div>
                        </div>
                        <div class="col s6"></div>
                </div>

                <div class="row">
                        <div class="col s1">
                                        <i class="material-icons">
                                                <%= form.submit "Gem", class: "btn btn-large" %>
                                        </i>
                        </div>
                        <div class="col s11"></div>
                </div>
        <% end %>
</div>
