<div class="row">
  <div class="card-panel teal lighten-2">
    <h1 class="center-align"><%= @product.name  %></h1>
    <ul>
      <li>Producent: <%= @product.brand.name %></li>
      <li>Beskrivelse: <%= @product.description %></li>
      <li>Pris: <%= @product.price %></li>
      <li>Qty: <%= @product.qty %></li>
      <% if @categoryNames.count === 1 %>
        <li>Kategori: <%= @categoryNames[0].name %></li>
      <% elsif @categoryNames.count > 1 %>
        <% @categoryNames.each do |category| %>
          <li>Kategorier: <%= category.name %> </li>
        <% end %>
      <% end %>
    </ul>
  </div>

  <% if user_signed_in? && current_user.admin %>
    <%= link_to "Rediger", edit_product_path(@product), class: "btn" %>
    <%= link_to "Slet", product_path(@product), method: :delete, 
      data: { confirm: "Er du sikker på du vil slette produktet?" },
      class: "btn" 
    %>
  <% end %>
</div>
