 <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo center">WE<span style="margin-left:5px; font-size: 1.4em">DELIVER</span></a>
      <ul class="left hide-on-med-and-down">
        <li><%= link_to "Produkter", products_path %></li>
        <li><a href="#">Ordrer</a></li>
        <li class="active"><a href="#">JavaScript</a></li>
      </ul>
      <ul class="right hide-on-med-and-down">
        <% if user_signed_in? %>
          <li id="phone" style="color: #666; margin-right: 2em;">Tlf. (<%=  current_user.phone %>)</li>
          <li><div class="divider"></div></li>
          <li style="margin-right: 2em;"><%= link_to "Log ud", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Opret konto", new_user_registration_path %></li>
          <li><div class="divider"></div></li>
          <li><%= link_to "Login", new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
  </nav>
