<!DOCTYPE html>
<html>
  <head>
    <title>WeDeliver</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    <%= render "layouts/header" %>

    <% flash.each do |key, message| %>
      <% if key == "success" %>
        <div class="align-center green darken-1">
          <%= message %>
        </div>
      <% else %>
        <div class="align-center red darken-1">
          <%= message %>
        </div>
      <% end %>
    <% end %>

    <%= yield %>
  </body>
</html>
