<!DOCTYPE html>
<html>
  <head>
    <title>WeDeliver</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    <%= render "layouts/header" %>

    <div class="row">
      <div class="col s12 m6">
        <% flash.each do |key, message| %>
          <div id="flash-container" class="card blue-grey red darken-1">
            <div class="card-content white-text">
              <p id="flash-key"></p>
              <script>
                window.onload = () => {
                  document.getElementById("flash-key").innerHTML = "<%= key.capitalize %>"
                  document.getElementById("flash-message").innerHTML = "<%= message %>"

                  setTimeout(() => {
                    document.getElementById("flash-key").classList.add("hidden")
                    document.getElementById("flash-container").classList.add("hidden")
                  }, 5000)
                }
              </script>
              <p id="flash-message"></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <%= yield %>
  </body>
</html>
